/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'reset';

html {
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100%;
  background-color: white;
  font-size: 1em;
}

a {
  text-decoration: none;
}

.title_division {
  background-color: #D9D9D9;
  width: 90%;
  max-width: 1200px;
  height: 65px;
  display: flex; /* Flexboxレイアウトを使用 */
  align-items: center; /* 中央揃え */
  margin: 0 auto;
  margin-top: 20px;
  padding: 0 100px;

  .butasan_division {
    height: 100%;

    .butasan {
      height: 100%;
    }
  }

  h1 {
    color: black;
    font-size: 40px;
    font-weight: bold;
    line-height: 65px;
  }
  
}

.description_division {
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
  margin-top: 15px;
  margin-bottom: 15px;

  p {
    margin-bottom: 5px;
    font-size: 24px;

    .how_to_image {
      color: red;
    }
  }
}

.condition_explanation_division {
  margin: 0 auto;
  width: 85%;
  max-width: 1200px;
  display: flex;
  margin-bottom: 15px;

  .blue_rectangle {
    width: 20px;
    height: 40px;
    margin-right: 5px;
  }

  h2 {
    font-size: 32px;
    font-weight: bold;
    line-height: 40px;
    margin-right: 30px;
  }

  p {
    font-size: 20px;
  }
}

.input_form {
  margin: 0 auto;
  width: 87%;
  max-width: 1200px;

  .choosing_fund, .accumulated_amount, .accumulated_term {
    display: flex;

    .choosing_fund_label, .accumulated_amount_label, .accumulated_term_label {
      background-color: #D9D9D9;
      width: 220px;
      height: 55px;
      padding: 13px 25px;
      text-align: center;

      .choosing_fund_label_content, .accumulated_amount_content, .accumulated_term_content {
        font-size: 28px;
        font-weight: bold;
      }
    }

    .choosing_fund_select {
      background-color: #1EDFF1;
      width: 330px;
      height: 55px;
      padding: 13px;

      .choosing_fund_select_form {
        width: 300px;
        height: 30px;

      }
    }
  }

  .accumulated_amount_text {
    background-color: #1EDFF1;
    width: 360px;
    height: 55px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    display: flex;
    
    .accumulated_amount_form {
      width: 220px;
      height: 40px;
      margin-right: 5px;
    }

    .currency_unit {
      font-size: 28px;
      line-height: 40px;
    }
  }

  .accumulated_term_text {
    background-color: #1EDFF1;
    width: 900px;
    height: 55px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    display: flex;

    .accumulated_term_form {
      width: 220px;
      height: 40px;
      margin-right: 5px;

    }

    .term_unit {
      font-size: 28px;
      line-height: 40px;
      margin-right: 5px;
    }
  }

  .accumulated_term_form_middle {
    width: 220px;
    height: 40px;
    margin-right: 5px;
  }

  .term_unit_middle {
    font-size: 28px;
    line-height: 40px;
    width: 90px;
  }

}

.accumulated_term_description {
  width: 80%;
  max-width: 1200px;
  margin-top: 15px;
  margin-bottom: 15px;


  p {
    margin-bottom: 5px;
    font-size: 24px;
  }

  .stock_term_division {
    margin-left: 15px;
  }
}

.calculation_btn_division {
  background-color: #5BB4FD; /* ボタンの背景色 */
  display: flex;
  width: 200px;
  height: 65px;

  .calculator_icon_division {
   width: 50px;
   height: 45px;

   .calculator_icon {
    width: 45px;
    height: 45px;
   }


  }

  .calculator_btn {
   width: 150px;
   height: 65px;
  }
  

  .calculation_btn {
    /* 既存のスタイル */
    position: relative; /* 画像を絶対配置するために必要 */
    width: 200px;
  }
  
  .calculator-icon {
    position: absolute;
    top: 50%;
    left: 15px; /* 画像の左端の位置 */
    transform: translateY(-50%); /* 画像を垂直方向の中央に配置 */

    .icon_div {
      width: 50px;
   height: 45px;
    }
  }
}

.calculation_btn_division {
  background-color: #5BB4FD;
  display: flex;
  justify-content: center; /* 中央揃え */
  align-items: center;     /* 垂直方向の中央揃え */
  width: 200px;
  height: 65px;
  margin: 0 auto;
}

button.calculator_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.icon_div {
  display: flex;
  align-items: center;
  gap: 10px; /* 画像とテキストの間にスペースを追加 */
  color: white;
  font-weight: bold;
  font-size: 24px;
}

.calculator_icon {
  width: 30px; /* 画像の大きさを調整 */
  height: 30px;
}

.precautions_division {
  width: 1050px;
  margin: 0 auto;

  .precautions_title_division {
    background-color: #FFD8EB;
    height: 55px;
    padding-left: 450px;
    border: 1px solid black;

    margin-top: 10px;
    display: flex;

    h3 {
      margin-top: 10px;
      font-size: 28px;
    }

    .precautions_icon {
      width: 50px;
      height: 50px;
      padding-top: 7px;
      padding-bottom: 7px;
    }

  }

  .precautions_description_division {
    height: 110px;
    border: 1px solid black;
    padding-left: 20px;

    p {
      font-size: 28px;
    }
  }

}


.condition_explanation_division_result {
  margin: 0 auto;
  width: 85%;
  max-width: 1200px;
  display: flex;
  margin-top: 20px;
  margin-bottom: 15px;

  .red_rectangle {
    width: 20px;
    height: 40px;
    margin-right: 5px;
  }

  h2 {
    font-size: 32px;
    font-weight: bold;
    line-height: 40px;
    margin-right: 30px;
  }

  p {
    font-size: 20px;
    line-height: 40px;
  }
}

.calculation_btn_division_result {
  background-color: #5BB4FD;
  display: flex;
  justify-content: center; /* 中央揃え */
  align-items: center;     /* 垂直方向の中央揃え */
  width: 200px;
  height: 65px;
  margin: 0 auto;
}

button.calculator_btn_result {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.icon_div_result {
  display: flex;
  align-items: center;
  gap: 10px; /* 画像とテキストの間にスペースを追加 */
  color: white;
  font-weight: bold;
  font-size: 24px;
}

.calculator_icon {
  width: 30px; /* 画像の大きさを調整 */
  height: 30px;
}

.graph_section {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

